tools_thumbnail_cache.bin
tools_asset_info.bin
*.vpcf_c
*.vtex_c
*.vxml_c
*.vcss_c

panorama_debugger.cfg
*.vmat_c
*.vjs_c
desktop.ini
maps/
*.sublime-workspace
panorama/layout/custom_game/custom_ui_manifest.vxml_c
tools_asset_info.bin
*.vtex_c
*.vpcf_c
*.vpcf_c
*.vmesh_c


*.vanim_c 
*.vmdl_c 
*.vagrp_c 


